COMPOSE_PROJECT_NAME=docker-postgres-pgadmin

POSTGRES_USER=learner
POSTGRES_PASSWORD=sqlpass
POSTGRES_DB=sql_learning
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
